{{ form_start(form) }}
    <div class="form-group row">
        {{ form_label(form.name, null, {'label_attr': {'class': 'col-form-label col-sm-1 text-right'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
